html,body{
    margin:0;
    padding:0;
    height:100%;
}

.video-container {
  position: relative;
  width: 100%; 
  height: 80vh;  
  overflow: hidden; 
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.78vh;      
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  pointer-events: none; 
  aspect-ratio: 16 / 9;
}




