html,body{
    margin:0;
    padding:0;
    height:100%;
}

h1,p{
  padding: 0;
  margin: 0;
}

.mr50{
  margin-right: 40px;
}

.mb30{
  margin-bottom: 30px;
}

.pdh120{
  padding: 0px 120px;
}


.video-container {
  position: relative;
  width: 100%; 
  height: 80vh;  
  overflow: hidden; 
}

.video-container iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.78vh;      
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  pointer-events: none; 
  aspect-ratio: 16 / 9;
}


.infoContainer{
  display: flex;
  flex-direction: row;
}

.juEnd{
  justify-content: flex-end;
}

.alEnd{
  align-items: end;
}

.img-box{
  width: 600px;
  height: 350px;
  overflow: hidden;
}

.img-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textContianer{
  display: flex;
  flex-direction: column;
}

