html,
body{
    width: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

p{
    margin: 0;
    padding: 0;
}



.title {
    font-family: cursive;
    color: white;
}

.mr15{
    margin-right: 15px;
}

.ml5{
    margin-left: 10px;
}

.mr5{
    margin-right: 10px;
}

:root {
  --main-color: #005a87;
  --sub-color: #005a87;
  --slider-margin: 20px;
}

footer {
  background-color: hsl(354, 86%, 29%);
  color: white;
  text-align: center;
  padding: 70px 0;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ffd166;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

header{
    width:100%;
    height: 70px;
    background-color: #ffffff3e;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
}

#language {
    position: relative;
    z-index: 10;
}

.loginBtn{
    background-color: var(--main-color);
    border: none;
    padding: 0px 15px;
    margin: 15px 20px 15px 0px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.logo{
    width: 300px;
    font-size: 34px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin:0 20px;
}

.sq{
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* Item1 */
.Item1 {
    position: relative;
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Item1 img.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;         
    object-fit: cover;    
    filter: blur(4px);
    transform: scale(1.3);
    opacity: 0.85;
    z-index: -1;
}

.welcome{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    color: white;
    white-space: nowrap;
}

.squr-text{
    display:flex;
    align-items: center;
    background-color: #ffffff3e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px;
    width: 760px;
    height: 60px;
    justify-content: space-around;
      
}

.squreText{
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 22px;
}

.squreText:hover{
    background-color: var(--sub-color);
}
/* Item1 */

.Item2{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Item3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.Item4{
    height:600px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(71, 173, 71);
}

.mybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position:fixed;
    bottom:20px;
    right: 20px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50%;
    font-size: 22px;
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden{
    display: none;
}

.itemCardContainer{
    display: flex;
    flex-direction: row;
    width: 90%; 
    padding-bottom: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.card {
    flex: 0 0 31%;    
    background-color: rgb(255, 255, 255);
    margin-right: var(--slider-margin);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;      
    border-radius: 10px;
    scroll-snap-align: start;
}

.card:last-child{
    margin: 0;
}

.cardImg {
    width: 100%;    
    height: 230px;     
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;        
}

.cardImg img {
    width: 100%;           
    height: 100%;            
    object-fit: cover;        
}

.cardText {
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}


.cardBtn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 50%;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}


.cardBtnContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 130px;
}

.squr3{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.squr4{
    width: 85%; 
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

.restaurantCard{
    flex: 0 0 calc(100% - 20px);
    height: 500px;
}

.restaurantCard img {
    width: 100%;           
    height: 100%;    
    display: block;     
    border-radius: 10px;     
    object-fit: cover;     
       
}

.squr5{
    height: 100%;
    width: 15%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.sur2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titl{
    font-size: 48px;
    font-family: cursive;
    font-weight: 600;
    margin: 20px 0px;
}

.cardBtn2{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: aliceblue;
    border-radius: 50%;
    cursor:pointer;
}

.left_button2{
    height:50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
    cursor: pointer;
}


#language {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #005a87;
  cursor: pointer;
  font-weight: 500;
}

#language:hover {
  background-color: #e0f2ff;
}
